@import url("font(1)/stylesheet.css");
@import url("font(2)/stylesheet.css");
@import url("font(3)/stylesheet.css");
html {
    background-color: rgb(25, 25, 26);
}

#body {
    background-image: url(index_background1.jpg);
    background-size: cover;
}

#coner {
    padding: 0 20px 0 20px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    #coner {
        padding: 0 10px 0 10px;
    }
}

#nav {
    display: flex;
    padding: 5px 0 0 0;
    color: white;
}

#nav h1 a {
    font-family: 'Grtsk Giga', GrtskGiga-Bold;
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: letter-spacing 2s;
}

#nav h1 a:hover {
    letter-spacing: -2px;
}

#nav p {
    font-family: 'Grtsk Giga', GrtskGiga-Regular;
    font-size: 14px;
    position: relative;
    left: 740px;
}

#nav p a {
    color: white;
    text-decoration: none;
    transition: all 2s, font-style 2s;
}

#nav p a span {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#nav p a:hover {
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 3px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    #nav h1 a {
        font-family: 'Grtsk Giga', GrtskGiga-Bold;
        font-size: 14px;
        transition: letter-spacing 2s;
    }
    #nav p {
        font-size: 10px;
        position: relative;
        left: 50px;
        padding-top: 15px;
    }
    #nav p a:hover {
        letter-spacing: 0;
    }
}

#hero {
    align-self: center;
    position: relative;
}

.hero_img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    width: 820px;
}

.hero_img img {
    padding-right: 5px;
    width: 399px;
    height: 546px;
}

.hero_text {
    color: white;
    text-align: center;
}

.hero_text h1 {
    position: absolute;
    bottom: 1px;
    left: 200px;
    font-family: 'Grtsk Mega', GrtskMega-Bold;
    text-align: center;
    font-size: 110px;
    transition: letter-spacing 2s;
}

.hero_text h1:hover {
    text-align: center;
    letter-spacing: 20px;
}

.hero_text p {
    font-size: 15px;
    font-family: 'Grtsk Mega', GrtskMega-Regular;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    #hero {
        position: relative;
    }
    .hero_img span {
        display: none;
    }
    .hero_img {
        display: block;
        padding-top: 5px;
    }
    .hero_img img {
        display: block;
        padding-left: 85px;
        width: calc(399px/1.3);
        height: calc(546px/1.3);
    }
    .hero_text h1 {
        bottom: 70px;
        left: 30px;
        font-family: 'Grtsk Mega', GrtskMega-Bold;
        text-align: center;
        font-size: 50px;
    }
    .hero_text h1:hover {
        text-align: center;
        letter-spacing: 5px;
    }
}

#footer {
    display: flex;
    padding: 5px 0 0 0;
    color: white;
}

#footer p {
    font-family: 'Grtsk Giga', GrtskGiga-Bold;
    font-size: 14px;
    position: relative;
}

#footer p a {
    color: white;
    transition: all 2s, font-style 2s, letter-spacing 2s;
}

#footer p a:hover {
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 5px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    #footer p a:hover {
        font-style: italic;
        font-weight: bolder;
        letter-spacing: 2px;
    }
}

.abm {
    font-family: 'Grtsk Mega', GrtskMega-Bold;
    font-weight: bold;
    font-size: 80px;
    color: white;
}

.abm span {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    color: rgb(25, 25, 26);
    transition: color 1s;
}

.abm span a {
    text-decoration: none;
    color: rgb(25, 25, 26);
    transition: all 1s;
}

.abm span a:hover {
    color: white;
}

.abm span:hover {
    color: white;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .abm {
        font-size: 33px;
    }
    .abm span {
        text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, 0.5px 0.5px 0 white;
        color: rgb(25, 25, 26);
        transition: color 1s;
    }
}

.hed {
    font-family: 'Grtsk Mega', GrtskMega-Bold;
    font-size: 50px;
    text-align: center;
    color: white;
}

.sect {
    font-size: 15px;
    font-family: 'Grtsk Mega', GrtskMega-Regular;
    text-align: center;
    padding-top: -30px;
}

.sect span {
    font-weight: bold;
}

.sect a {
    text-decoration: none;
    color: white;
    transition: all 1s;
}

.sect a:hover {
    letter-spacing: 3px;
}

.img {
    padding-left: 130px;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
}

.img img {
    vertical-align: top;
    padding-right: 10px;
    padding-bottom: 10px;
}

.insta {
    width: 20%;
    height: 20%;
    margin: 0px;
}

.thin {
    width: 27%;
    height: 27%;
    margin: 0px;
}

.wide {
    width: 35%;
    height: 35%;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .img {
        padding-left: 40px;
    }
    .insta {
        width: 30%;
        height: 30%;
        margin: 0px;
    }
    .thin {
        width: 37%;
        height: 37%;
        margin: 0px;
    }
    .wide {
        width: 45%;
        height: 45%;
        margin: 0px;
    }
}